<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">
  <test thread-count="2" name="Test1">
  <parameter name='browser'  value="chrome">
    <classes>
      <class name="parallelCompact.Update"/>
      <class name="parallelCompact.Cpmaoct"/>
    </classes>
    </parameter>
  </test>
  <test thread-count="2" name="Test2">
  <parameter name='browser' value="firefox">
    <classes>
      <class name="parallelCompact.modify"/>
      <class name="parallelCompact.Delete"/>
    </classes>
    </parameter>
  </test>
</suite> 
